app/node_modules/
node_modules/
output/
logs/
.runtime/
dist/
*.exe
*.vhd
*.vhdx
*.ova
*.iso
*.sha256
*.log
packer/packer.auto.pkrvars.hcl
image-factory/packer/packer.auto.pkrvars.hcl
.terraform/
terraform.tfstate
terraform.tfstate.backup
