vm_name           = "bnpi-pats"
switch_name       = "ProjectTruth-External"
switch_type       = "External"
net_adapter_names = ["YOUR-LAN-OR-WIFI-ADAPTER"]
source_image_path = "C:\\ProgramData\\BandaiApp\\Bnpipats\\images\\project-truth-node-latest.vhdx"
vm_path           = "C:\\ProgramData\\BandaiApp\\Bnpipats\\HyperV"
memory_mb         = 4096
cpu_count         = 2
ssh_port          = 22
api_port          = 3001
app_port          = 3000
guest_ip_hint     = ""
